.ul-css {
  color: #ffffff;
  padding: 0px;
  width: 900px;
  list-style-type: none;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.table-container {
  margin: 20px;
  border: 2px solid #00e7ff;
  border-radius: 20px;
  width: 900px;
  color: white;
  padding: 0px 20px;
}

.coin-usd {
  width: 550px;
  margin-left: 50px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.eoru {
  margin-right: 50px;
}
.table-head {
  width: 100%;
  background-color: #092e33;
  height: 50px;
  color: #ffffff;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 576px) {
  .coin-usd {
    width: 300px;
  }
  .table-container {
    width: 100%;
  }
  .eoru {
    display: none;
  }
}
